body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

h2, h3 {
    color: #343a40;
}

table {
    background-color: #fff;
}

td[contenteditable="true"] {
    background-color: #fefefe;
    border: 1px solid #dee2e6;
    outline: none;
}

td[contenteditable="true"]:focus {
    background-color: #e9ecef;
    border-color: #adb5bd;
}

.delete-row {
    font-size: 0.8rem;
}
.navbar {
    background-color: lightgrey; /* Gradient background */
    padding: 1rem 2rem; /* Extra padding for a spacious look */
    margin-bottom: 20px;
  }
  
  .navbar-nav .nav-link {
    font-size: 1.2rem; /* Larger font size */
    color: white;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    font-weight: 500;
  }
  
  .navbar-nav .nav-link:hover {
    /* Subtle color change on hover */
    text-decoration: underline; /* Underline effect on hover */
  }
  
  /* Active link style */
  .navbar-nav .nav-link.active{
   
    font-weight: bold;
    text-decoration: underline;
  }