/* Modal overlay styling */

.navbar {
    background-color: lightgrey; /* Gradient background */
    padding: 1rem 2rem; /* Extra padding for a spacious look */
    margin-bottom: 20px;
  }
  
  .navbar-nav .nav-link {
    font-size: 1.2rem; /* Larger font size */
    color: #000;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    font-weight: 500;
  }
  
  .navbar-nav .nav-link:hover {
    color: blue; /* Subtle color change on hover */
    text-decoration: underline; /* Underline effect on hover */
  }
  
  /* Active link style */
  .navbar-nav .nav-link.active{
    color: blue;
    font-weight: bold;
    text-decoration: underline;
  }

/* Modal content styling */
.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    max-width: 400px;
    width: 100%;
}

/* Show modal overlay when active */
.modal-overlay.active {
    visibility: visible;
    opacity: 1;
}

/* Portfolio item image styling */
.portfolio-item img {
    width: 100%;           /* Ensures the image fills the column width */
    aspect-ratio: 4 / 3;   /* Maintains a consistent aspect ratio */
    object-fit: cover;     /* Ensures no empty space in the image block */
    border-radius: 5px;    /* Optional: rounds the corners for a cleaner look */
}
