/* styles.css */
.container {
    margin-top: 0px;
  }
  h1, h2 {
    color: #343a40;
  }
  .text-center h1, .text-center h2 {
    color: #343a40;
  }

  .table {
    margin-top: 20px;
  }
  .input-container {
    max-width: 200px; /* Adjust width as desired */
    margin: 0 auto; /* Center the input fields in the form */
  }
  
  .form-control {
    width: 100%; /* Make the input take up the full width of the container */
  }
  #progressForm .btn-success {
    display: block;
    width: 200px; /* Adjust width as needed */
    margin: 20px auto 0; /* Center the button and add spacing */
  }
  .navbar {
    background-color: lightgrey; /* Gradient background */
    padding: 1rem 2rem; /* Extra padding for a spacious look */
    margin-bottom: 20px;
  }
  
  .navbar-nav .nav-link {
    font-size: 1.2rem; /* Larger font size */
    color: white;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    font-weight: 500;
  }
  .navbar-nav .nav-link:hover {
    /* Subtle color change on hover */
    text-decoration: underline; /* Underline effect on hover */
  }
  
  /* Active link style */
  .navbar-nav .nav-link.active{
   
    font-weight: bold;
    text-decoration: underline;
  }
    
  
  
  